body,
html {
	min-height:100%;
}


body {
    background: url(http://i64.tinypic.com/2iscdg8.jpg);
    background-repeat: no-repeat;
	background-size:cover;
}

h1 {
    text-align: center;
}
p{
	font-weight: bold;
	color: red;
	
}
#computer {
    text-align: center;
}

#page {
    text-align: center;
}

